node_modules
.next
out
.env*.local
.env
tsconfig.tsbuildinfo
npm-debug.log*
.env.local
supabase/.temp

playwright-report/
test-results/
public/apple-touch-icon.png

public/apple-touch-icon-precomposed.png
